body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #fff;
  margin: 0;
  padding: 0;
}

.navbar {
  background: #222;
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 1rem 2rem;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.logo {
  color: #fff;
}

.home form {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.searchInput {
  padding: 10px;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.movie-card {
  background: #222;
  padding: 1rem;
  border-radius: 8px;
  width: 200px;
  text-align: center;
}

.movie-card img {
  width: 100%;
}

.movie-card a {
  color: #fff;
}


.movie-skeleton {
  width: 200px;
  border-radius: 10px;
  overflow: hidden;
  background: #1e1e1e;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 10px;
}

.poster {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  background-color: #2a2a2a;
}

.info {
  margin-top: 15px;
}

.title,
.year {
  height: 18px;
  border-radius: 4px;
  background-color: #2a2a2a;
  margin-top: 6px;
}

.title {
  width: 70%;
}

.year {
  width: 40%;
}

/* shimmer animation */
.shimmer {
  position: relative;
  overflow: hidden;
}
.center{
  margin:  0 auto;
  margin-top: 20px;
}

.shimmer::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150px;
  width: 100px;
  height: 100%;
  background: linear-gradient(90deg,
      transparent,
      rgba(255, 255, 255, 0.2),
      transparent);
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  100% {
    left: 100%;
  }
}